.footer {
  margin-top: 68px;
  border-top: 1px solid #eaeaea;
  
  .copy {
    display: inline-block;
    font-size: 14px;
    color: #767676;
    margin: 44px 0 0;
  }
  .nav-footer {
    display: inline-block;
    float: right;
    margin: 44px 0;
    li {
      margin: 0 0 0 64px;
      display: inline-block;
      font-size: 14px;
      color: #4c5059;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}