.header {
  height: 94px;
  background: #f7f7f7;

  .content-row {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    
    height: 100%;
  }
  .logo {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;

    img {

    }
  }
  .contacts {
    height: 100%;
    display: inline-block;
  }
  .phones {
    @include inline-flex;
    @include flex-direction(column);
    @include justify-content(center);

    vertical-align: top;
    height: 100%;
    margin: 0 20px;
  }
  .phone {
    @include flex(0, 0);

    font-size: 18px;
    color: #767676;
  }
  .feedback {
    @include inline-flex;
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;
    vertical-align: top;
  }
}
@media screen and (min-width: 320px) and (max-width: 1000px) {
  .header {
    height: auto;
    
    .content-row {
      height: 100%;
    }
    .logo {
      height: 94px;
    }
    .contacts {
      height: 94px;
    }
    .phones {
      margin: 0 10px 0 0;
    }
  }
}