.nav {
    background: #282c37;
  ul {
    height: 80px;
    text-align: center;
    li {
      display: inline-block;
      height: 16px;
      padding: 0 46px;
      margin-top: 32px;
      font-size: 15px;
      color: #fff;
      list-style: none;
      text-transform: uppercase;
      border-right: 1px solid #424757;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &:last-of-type {
        border-right: none;
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 1000px) {
  .nav {
    background: #282c37;
    ul {
      height: auto;
      li {
        height: 16px;
        margin: 32px 10px;
        padding: 0 10px;
        border: none;
      }
    }
  }
}